In [43]:
import numpy as np
import pandas as pd

In [3]:
pd.__version__

'2.2.2'

In [26]:
car_data = pd.read_csv("car_fuel_efficiency.csv")

In [16]:
car_data

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [9]:
len(car_data)

9704

In [10]:
car_data.columns

Index(['engine_displacement', 'num_cylinders', 'horsepower', 'vehicle_weight',
       'acceleration', 'model_year', 'origin', 'fuel_type', 'drivetrain',
       'num_doors', 'fuel_efficiency_mpg'],
      dtype='object')

In [12]:
car_data['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [13]:
car_data['fuel_type'].nunique()

2

In [15]:
car_data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [17]:
# the maximum fuel efficiency of cars from Asia
car_data[car_data['origin'] == 'Asia'].fuel_efficiency_mpg.max()

23.759122836520497

In [18]:
'''
Find the median value of horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
'''

'\nFind the median value of horsepower column in the dataset.\nNext, calculate the most frequent value of the same horsepower column.\nUse fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.\nNow, calculate the median value of horsepower once again.\n'

In [27]:
median_horsepower = car_data['horsepower'].median()
median_horsepower

149.0

In [28]:
car_data['horsepower'].mode()

0    152.0
Name: horsepower, dtype: float64

In [29]:
car_data['horsepower'].fillna(median_horsepower)

0       159.0
1        97.0
2        78.0
3       149.0
4       140.0
        ...
9699    164.0
9700    154.0
9701    138.0
9702    177.0
9703    140.0
Name: horsepower, Length: 9704, dtype: float64

In [30]:
car_data['horsepower'].median()

149.0

In [31]:
'''
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
'''

"\nSelect all the cars from Asia\nSelect only columns vehicle_weight and model_year\nSelect the first 7 values\nGet the underlying NumPy array. Let's call it X.\nCompute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.\nInvert XTX.\nCreate an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].\nMultiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.\nWhat's the sum of all the elements of the result?\n"

In [33]:
asia_cars = car_data[car_data['origin'] == 'Asia']

In [37]:
target = asia_cars[['vehicle_weight', 'model_year']]

In [40]:
X = target.head(7).values

In [42]:
XTX = X.T.dot(X)

In [44]:
inverse_XTX = np.linalg.inv(XTX)

In [45]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [47]:
w = inverse_XTX.dot(X.T).dot(y)

In [49]:
w

array([0.01386421, 0.5049067 ])

In [48]:
w.sum()

0.5187709081074026